/* style.css */
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
  }
li {
    padding: 10px;
}

#header {
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    padding: 0 200px;
    margin: -10px;

}

.header {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.section1 {
    background-color: #1f2937;
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
    padding: 50px 200px;
    align-items: center;
    margin: -10px;
    
}

.sec1left{
    padding: 10px;
    margin: 10px;

}

button {
    padding: 5px 20px;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #3882f6;
    color: white;
}

.section2 {
    display: flex;
    flex-direction: column;
    padding: 0 200px;
    margin-bottom: 100px;
}

.hero2 {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding: 50px;
}

.dog {
    width: 150px;
    height: 150px;
    border-radius: 25px;
    border: 3px solid #3882f6;
    
}

.dogs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-evenly;
    justify-content: center;
    align-items: center;
    height: 200px;
    gap: 0 20px;
  }

.text {
    text-align: center;
    padding-top: 10px;
    width: 156px;
    color: #1f2937;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    padding: 100px 300px;
}

.rc {
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    color: #1f2937;
}

.signup {
    display: flex;
    background-color: #3882f6;
    color: #e5e7eb;
    margin: 50px 200px;
    padding: 50px 100px;
    border-radius: 25px;

}

.button2 {
    display: flex;
    align-items: center;
    margin-left: auto;

}
.signup button {
    border: 2px solid white;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 200px;
    margin: -10px;
    background-color: #1f2937;
    color: #e5e7eb;

}









